/*
J lindsay
17/11/2022
*/
body{
		font-family:Lucida Console;
		background: black;
		text-align: left;	
}
/*3 main separate flex containers - navbar, main, footer*/
.navbar{
		display:flex;
		flex-direction:row;
		background-color:black;
		justify-content:center;
		color:white;
		width:100%;
		align-items:flex-end;
		border-bottom:2px darkslategrey solid;
		align-content:space-between;
}
.navItem{	
		flex-basis:8%;
		padding:5px;
		text-align:center;
		
}
    @media (max-width:768px) {
      .navbar{
        flex-direction:column;
      }
      
    }


/*2nd flex container has two flex rows - image carousel and our story*/
#mainRow{
		display:flex;
		flex-direction:row;
		background-color:black;
		justify-content:center;
		color:white;
		width:100%;
		flex-wrap:wrap;
		border-bottom:2px darkslategrey solid;
}
/*main flex area contains main body of page*/
#body1{
		flex-basis:50%;
		height:auto;
}
#footer{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-between;
}
a:link{color:white;text-decoration:none;}
a:hover{color:#66604f;text-decoration:underline;text-transform}
a:visited{color:white;text-decoration:none;}
a:active{color:white;text-decoration:none;}

/*
here begins styles for age verify pop-up
*/
.modal-backdrop {
      opacity: 0.75 !important;
    }
    .modal-body {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 5rem;
      background:black;
      border: 1px solid white;
      text-align: center;
    }
    .btn {
      border-radius: 0 !important;
      color: white;
      border: 2px solid white !important;
      padding: .5rem 3rem !important;
    }

    .btn:hover {
      background: white;
      color:  black;
      border: 2px solid white !important;
      padding: .5rem 3rem !important;
    }
    @media (max-width:768px) {
      .mobile-margin-bottom{
        margin-bottom:.5rem;
      }
      
    }
/*
Here ends style for age verify pop-up
*/
