/* Body & Links */

body {
		background:#000000;
		color:white;
		text-align:center;
}

 a:link {
	 color: white;
	 text-decoration: none;   
 }  
 
 a:active {
	   color: red;
	   text-decoration: none;  
 }  
 a:visited {
	 color: white;
	 text-decoration: none;  
 }  
 a:hover {
	   color: wheat;
 }  
 
/* Header & Footer */

.navbar {
	background: linear-gradient(black 49%, #606060 51%); 
	padding-top: 10px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: baseline;
	height: 80px;
	margin-bottom: 5px;
	
}

.topbarlogo{
	flex: none;
	align-self: auto;
	padding: 5px;
	width: 10%;
}

.topbar{
	flex: none;
	align-self: auto;
	padding: 5px;
	width: 10%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 1;
  background-color: rgba(60,60,60,0.6);
  color: white;
  display:flex;
  justify-content: right;
  font-family: Nexa;
  font-size: 15;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  margin-bottom:3px;
 
}

/* carousel */

.carouselbar {
	background: red;
	margin-top: 40px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: baseline;
	height: 371px;
	background: url("https://images.squarespace-cdn.com/content/v1/5a6401f47131a5ca2455b41d/1650850323362-EXOCDA0OXQGM7SCSNVWE/160A8833.jpeg") no-repeat;
	background-blend-mode: unset;
	background-position: center;
	background-size: cover;
}
.carousel-img-item{ 
	
	height: 371x;
	width: 256px;
}

/* Containers */

.mainpage{
	background: black; 
	padding-top: 1px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	margin-bottom: 5px;
	padding-bottom: 50px;
	
}

.mainimage{
	display: flex;
	height: 550px;
	background: url("../images/range2.jpg") no-repeat;
	background-blend-mode: unset;
	background-position: center;
	background-size: cover;
	margin-bottom: 50px;
}

.mainimageclick{
	margin: 0 auto;
	background: #AA6C39; 
	padding-top: 2px;
	display: flex;
	flex: stretch;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	height:13%;
	width: 10%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
}

.left{
	background: black; 
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 35%;
}

.middle{
	
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 60%;
}

.right{
	background: black; 
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 35%;
}
.rightfooter{
	
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: right;
	align-items: right;
	margin-bottom: 2px;
	width: 20%;
}

.top{
	background: black; 
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 100%;
}

/* Writing Style */

h1 {
	font-size:20;
	color:white;
	font-family: Nexa;
    font-style: normal;
    font-weight: 300;
}

h2 {
	font-size:20;
	color: wheat;
	font-family: Nexa;
    font-style: normal;
    font-weight: 300;
}

h2 {
	font-size:20;
	color: wheat;
	font-family: Nexa;
    font-style: normal;
    font-weight: 300;
}

/* Images */

.imageblur {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    box-shadow: inset -10px -10px 10px 20px white;
}

/* Scroll */

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container{
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: ;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
